<form action="/search" method="GET" class="faculty-search">
  <div class="">
    <input type="text" class="form-control" placeholder="Search" id="term" name="term"></input><!--
--><button class="btn btn-fp form-control" type="submit">
      <i class="fa fa-search"></i>
      Search
    </button>
  </div>
</form>
