<!DOCTYPE html>
<html>
  <head>
    <title>Faculty Profiles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'/>
    <link rel='stylesheet' href='/javascripts/chosen/chosen.min.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.tabs.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script language="javascript" src="/javascripts/jquery.min.js"></script>
    <script language="javascript" src='/javascripts/chosen/chosen.jquery.min.js'></script>
    <script language="javascript" src='/javascripts/jquery-ui.tabs.min.js'></script>
    <script language="javascript" src='/javascripts/shared-functions.js'></script>
    <script language="javascript" src='/javascripts/facultyprofiles.js'></script>
    <script language="javascript" src='/javascripts/search.js'></script>
    <script language="javascript" src='/handlebars.runtime.js'></script>
    <script language="javascript" src='/handlebars-helpers.js'></script>
  </head>
  <body>
    <header>
      <div class="header-content fp-container">
        <div class="logo">
          <img src="/images/Texas_State_Primary_H_White.svg" alt="Texas State University"/>
        </div>
        <div class="fp-title"><a href="/">Faculty Profiles</a></div>
      </div>
    </header>
    {{{body}}}
    <footer>
      <div class="footer-content fp-container">
        <div class="footer-left">
          <div class="footer-left-content">
            <div class="footer-title">
              <a href="/">Faculty Profiles</a>
            </div>
            <div class="contact">
              For help please contact
              <a href="mailto:facultyqualifications@txstate.edu" class="contact-email">
                facultyqualifications@txstate.edu
              </a>
            </div>
          </div>
        </div><!--
     --><div class="footer-right">
          <div class="footer-right-content">
            <img class="footer-logo" src="/images/Texas_State_Primary_H_White.svg" alt="Texas State University logo" />
            <img src="/images/tsus.png" alt="Member of the Texas State University System" class="membership" />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
