<div class="fp-container error-page">
  <h1 class="error-title">Uh oh !</h1>

  <div>Sorry, clearly something has gone wrong.</div>
  <div> The page you are looking for was not found.</div>

  <p>Maybe try to <a href="/">Go back to the Faculty Profiles home page</a></p>

  <img src="{{img_url}}" alt="picture of spilled coffee"/>
  <div class="dev">
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
  </div>
</div>
