<div class="main-content">
  <div class="has-background content-centered home-top">
    <h1 class="search-title">Find Faculty</h1>
    {{> facultyDepartmentSearch}}
    <div class="browse-departments">View all: <a href="/departments">Colleges / Departments</a></div>
  </div>
  <div class="info-section fp-container">
    <div class="content">
      <div class="description">
        <div class="description-title">
          What is a faculty profile?
        </div>
        <div class="description content">
          Cupcake ipsum dolor sit amet chocolate cake macaroon gingerbread cake.
          Sesame snaps soufflé sweet soufflé liquorice donut. Gummi bears
          brownie pie croissant. Cookie muffin sweet roll brownie gummies
          pastry jelly. Carrot cake marshmallow candy canes carrot cake jelly-o
          powder sweet topping lemon drops. Chocolate bar halvah chocolate
          carrot cake icing dessert. Chocolate sweet roll lemon drops powder.
          Marzipan candy canes cake.
        </div>
      </div>
      <div class="image">
        <img src="/images/faculty.jpg" alt="A faculty member" />
      </div>
    </div>
  </div>
</div>
