<div class="main-content">
  <div class="has-background content-centered home-top">
    <h1 class="search-title">Find Faculty</h1>
    <div class="fp-container">
      {{> facultyDepartmentSearch}}
      <div class="browse-departments">View all: <a href="/departments">Colleges / Departments</a></div>
    </div>
  </div>
  <div class="info-section fp-container">
    <div class="content">
      <div class="description">
        <h3 class="description-title">What is a faculty profile?</h3>
        <p class="description content">
          Faculty Profiles is an information resource at Texas State University that helps connect faculty members
          with each other and allows people from outside the university to find out more about faculty research, awards,
           scholarly/creative work, teaching, grants, and more.
        </p>
        <p>
          Faculty Profiles creates a profile by syncing with the Faculty Qualifications system to create an accurate
          snapshot of each faculty member's work.
        </p>
      </div>
      <div class="image">
        <img src="/images/faculty.jpg" alt="A faculty member" />
      </div>
    </div>
  </div>
</div>
