// //common elements
//
.form-control {
  border: 0;
  box-shadow: 0px 0 10px $accent-gray;
  border-radius: 3px;
}

.btn-fp {
  color: $white;
  background-color: $cerulean;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0rem 1rem;
  font-family: $nunitosans;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 100;
  &:hover {
    background-color: $bright-blue;
  }
}

::placeholder {
  color: $davys-gray;
  opacity: 1;
}

form.faculty-department-search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $ebgaramond;
  font-size: 1.92rem;
  .term-group {
    flex-basis: 48%;
    #q {
      width: 100%;
      padding: 1.6rem 1.5rem;
    }
  }
  .word-in {
    flex-basis: 4%;
    text-align: center;
  }
  .department-group {
    flex-basis: 48%;
    .input-group {
      display: flex;
      opacity: 0.99;
    }
  }
  .select-department {
    max-width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  //customize chosen box
  .chosen-container {
    background: $white;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 1.4rem 1.5rem;

    .chosen-single {
      background: $white;
      border: 0;
      box-shadow: none;
      font-size: 1.92rem;
      padding-left: 0;
      span {
        height: 100%;
        text-align: left;
      }
      &.chosen-default {
        color: $davys-gray;
      }
    }
    .chosen-drop {
      border-top: 1px solid #aaa;
      left: 0;
      .chosen-search-input {
        border-radius: 3px;
      }
      .active-result {
        font-size: 1.5rem;
        line-height:1.8;
        text-align: left;
        color: $davys-gray;
        &.department {
          padding-left: 2.2rem;
        }
        &.highlighted {
          background: $cerulean;
          color: $white;
        }
      }
    }
  }
  .chosen-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
    box-shadow: 0px 0 10px $accent-gray;
    z-index: -1;
  }
  @media (max-width: $medium-breakpoint) {
    display: block;
    padding: 0rem 1rem 3rem 1rem;
    .word-in {
      padding: 0.5rem;
      display: block;
    }
    .department-group {
      .input-group {
        justify-content: center;
        .select-department:not(.chosen-container) {
          width: 100% !important;
          padding-left: 1.5rem;
          padding-top: 1.6rem;
          padding-bottom: 1.6rem;
          overflow: hidden;
        }
        button {
          padding: 1rem 1.8rem;
          .button-label {
            display: none;
          }
        }
      }
    }
    .chosen-container {
      width: 100% !important;
      padding: 1.4rem 0rem;
      .chosen-single {
        span {
          padding-left: 1.5rem;
          margin-right: 20px;
          text-overflow: unset;
        }
        div {
          width: 15px;
        }
      }
    }
  }
}
