.search-results-title {
  font-size: 2.8rem;
  em {
    padding-left: 1.5rem;
  }
}

//css for tabs- a lot of overriding jQuery UI styles
.ui-tabs.fp-tabs {
  padding: 0;
  border: 0;
  ul.ui-tabs-nav {
    background: transparent;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    margin: 0 0 1rem 0;
    width: 100%;
    border-bottom: 1px solid $accent-gray;
    padding: 1rem 0 0 0;
    overflow: hidden;
    font-size: 1.3rem;
    li {
      float: none;
      white-space: normal;
      text-transform: uppercase;
      width: 15rem;
      text-align: center;
      font-weight: 700;
      border: 0px;
      padding: 0.5rem;
      background: none;
      color: #484848;
      display: flex;
      flex-direction: column;
      justify-content: center;
      a {
        float: none;
        padding: 0;
      }
      &.ui-state-active {
        background-color: $sandstone;
        a {
          color: $maroon;
        }
      }
    }
    &:before, &:after {
      content: none;
    }
  }
}

.search-results {
  list-style: none;
  li {
    padding-bottom: 2.4rem;
    &:last-child {
      padding-bottom: 0;
    }
    .name {
      a {
        color: $maroon;
        text-decoration: underline;
        font-weight: 600;
        font-size: 1.8rem;
      }
    }
    .department-rank {
      color: $charcoal;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
}

.pagination{
    margin: 4rem 0 2.8rem 0;
    list-style: none;
    overflow: hidden;
    padding: 0;
    li {
      padding-bottom: 0;
    }
    .pagination-link, .nonlink{
      padding: .5rem 1rem .5rem 1rem;
      margin: 0 1rem 1rem 0;
      color: $medium-light-gray;
      text-decoration: none;
      float: left;
      &.active,&[aria-selected="true"]{
        font-weight: 500;
        color: black;
        &, &:hover {
          background: $sandstone;
        }
      }
      &:hover{
        background: $sandstone;
      }
      &.previous, &.next{
        color: #aaa;
        &:hover {
          background: transparent;
        }
        &.enabled{
          color: $medium-light-gray;
          &:hover {
            background: $sandstone;
          }
        }
      }
    }
    .nonlink{
      &:hover{
        background: transparent;
      }
    }
  }
