.search-results-title {
  font-size: 2rem;
}

//css for tabs- a lot of overriding jQuery UI styles
.ui-tabs.fp-tabs {
  padding: 0;
  border: 0;
  ul.ui-tabs-nav {
    background: transparent;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    margin: 0 0 1rem 0;
    width: 100%;
    border-bottom: 1px solid $accent-gray;
    padding: 1rem 0 0 0;
    overflow: hidden;
    font-size: 1.3rem;
    li {
      float: none;
      white-space: normal;
      text-transform: uppercase;
      width: 15rem;
      text-align: center;
      font-weight: 700;
      border: 0px;
      padding: 0.5rem;
      background: none;
      color: #484848;
      display: flex;
      flex-direction: column;
      justify-content: center;
      a {
        float: none;
        padding: 0;
      }
      &.ui-state-active {
        background-color: $sandstone;
        a {
          color: $maroon;
        }
      }
    }
    &:before, &:after {
      content: none;
    }
  }
}
