$maroon:              #501214;
$gold:                #6a5638;
$charcoal:            #363534;
$oldgold:             #deb407;
$sandstone:           #e8e3db;
$white:               #ffffff;

$light-background:    #f6f6f6;
$off-white:           #f1f1f1;
$accent-gray:         #d9d9d9;
$darkgray:            #a9a9a9;
$davys-gray:          #595959;

$cerulean:            #005481;
$bright-blue:         #0075b4;
$deep-blue:           #0056b3;

$selection-bg:        #d0dfd9;
$fern:                #577c6e;
$lavender:            #806cb8;
$golden-brown:        #9e6614;

$small-breakpoint:      500px;
$medium-breakpoint:     800px;
$large-breakpoint:      1000px;
$x-large-breakpoint:    1400px;

$garamond:            'Adobe Garamond W01",Garamond,"Goudy Old Style","Times New Roman",serif;';
$univers:             'Univers W01', Helvetica, Calibri, Arial, sans-serif;

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  font-family: $univers;
  font-size: 1.6rem;
  line-height: 1.5;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a {color: $cerulean;}

h1 {
  font-size: 2.8rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.9rem;
}

h1,h2,h3 {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}

*::-moz-selection {
  background-color: $selection-bg;
}
*::selection {
  background-color: $selection-bg;
}

.fp-container {
  margin: 0 auto;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  max-width: 1200px;
  @media (max-width: $x-large-breakpoint) {
    max-width: 1000px;
  }
}

header {
  flex: none;
  background-color: $maroon;
  color: $white;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .fp-title {
      font-size: 3.5rem;
      @media (max-width: $small-breakpoint) {
        font-size: 2.2rem;
      }
      letter-spacing: 1px;
      font-family: $garamond;
      a {
        text-decoration: none;
        color: $white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .logo {
      width: 20%;
      height: auto;
      @media (max-width: $medium-breakpoint) {
        width: 35%;
        text-align: right;
      }
      img {
        width: 80%;
        padding: 1.5rem 0rem;
      }
    }
  }
}

.main-content {
  flex: 1;
  .has-background {
    background-color: $light-background;
  }
  .content-centered {
    text-align: center;
  }
}

footer {
  flex: none;
  background-color: $gold;
  color: $white;
  margin-top: 8rem;
  .footer-content {
    display: flex;
    justify-content: space-between;
    @media (max-width: $medium-breakpoint) {
      display: block;
      text-align:center;
      padding-left: 0;
      padding-right: 0;
    }
    .footer-left {
      flex-basis: 70%;
      border-right: 1px solid #5f4d32;
      @media (max-width: $medium-breakpoint) {
        border-right: 0;
        border-bottom: 1px solid #5f4d32;
      }
      .footer-left-content {
        padding-top: 2rem;
        padding-bottom: 2rem;
        .footer-title {
          font-size: 2.7rem;
          font-family: $garamond;
          a {
            color: $white;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .contact-email {
          color: $white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            color: $white;
          }
        }
      }
    }
    .footer-right {
      flex-basis: 30%;
      border-left: 1px solid #79674c;
      @media (max-width: $medium-breakpoint) {
        border-left: 0;
        border-top: 1px solid #79674c;
      }
      .footer-right-content {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer-logo {
          width: 60%;
          @media (max-width: $medium-breakpoint) {
            width: 35%
          }
        }
        .membership {
          max-width: 80%;
          margin-top: 9px;
          @media (max-width: $medium-breakpoint) {
            max-width: 50%;
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////
.home-top {
  padding: 6rem 0rem;
  @media (max-width: $medium-breakpoint) {
    padding: 2rem 0rem;
  }
  .search-title {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    padding-bottom: 2.5rem;
    color: $gold;
    @media (max-width: $medium-breakpoint) {
      padding-bottom: 1.5rem;
    }
  }

  .browse-departments {
    color: $davys-gray;
    padding-top: 3rem;
    text-align: right;
    @media (max-width: $medium-breakpoint) {
      padding: 0 1rem;
    }
    a {
      text-decoration: none;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.info-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  .content {
    display: flex;
    justify-content: space-between;
    @media (max-width: $medium-breakpoint) {
      display: block;
    }
    .description {
      flex-basis: 48%;
      .description-title {
        font-weight: bold;
        font-size: 1.9rem;
      }
    }
    .image {
      flex-basis: 48%;
      img {
        max-width: 100%;
      }
    }
  }
}

.search-again {
  padding: 3rem 0rem;
}

/////////////////////////////////////////////////
.view-all {
  text-align: center;
  padding: 3rem 0rem;
  button {
    color: $charcoal;
    font-weight: 600;
    span {color: $cerulean};
    border: 2.5px solid $darkgray;
    border-radius: 7px;
    padding: 1.4rem 6.4rem;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      background-color: $off-white;
    }
    .fa-bookmark {
      color: $fern;
    }
    .fa-trophy {
      color: $oldgold;
    }
    .fa-gift {
      color: $lavender;
    }
    .fa-briefcase {
      color: $golden-brown;
    }
  }
}
.section {
  margin-top: 2rem;
  h2, h3 {
    color: $gold;
  }
}

.profile-top {
  padding-bottom: 3rem;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  @media (max-width: $medium-breakpoint) {
    display: block;
    padding-bottom: 0;
  }
  .basic-info {
    display: flex;
    @media (max-width: $medium-breakpoint) {
      display: block;
      text-align: center;
      padding: 2rem 0rem 3rem 0rem;
    }
    .profile-image {
      width: 200px;
      height: 200px;
      @media (max-width: $medium-breakpoint) {
        width: 125px;
        height: 125px;
        margin: 0 auto;
      }
    }
    .basic-details {
      padding-left: 2rem;
      @media (max-width: $medium-breakpoint) {
        padding-left: 0;
      }
      .name {
        font-weight: bold;
        font-size: 2rem;
      }
      .title-department {
        .first-appointment {

        }
        .other-appointment {
          display: none;
        }
        .show-appointments {
          color: $cerulean;
          text-align: center;
          border: 1px solid $darkgray;
          border-radius: 5px;
          background-color: transparent;
          background-image: none;
          padding: 0.2rem 0.5rem 0rem 0.5rem;
          &:hover {
            background-color: $off-white;
          }
        }
      }
      .phone {
        padding: 2rem 0 0.5rem 0;
      }
      .fa {
        color: $cerulean;
      }
    }
  }
  .navigation-menu {
    @media (max-width: $medium-breakpoint) {
      margin: 0rem -2.4rem;
      text-align: center;
      background-color: $white;
    }
    .anchors {
      @media (max-width: $medium-breakpoint) {
        border: 2px solid $darkgray;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: 1fr;
      }
      .anchor {
        padding: 1rem 4rem;
        border-top: 1px solid $darkgray;
        text-align:center;
        @media (max-width: $medium-breakpoint) {
          border-top: 0px;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-bottom: 1px solid $accent-gray;
          &:last-child, &:nth-last-child(2):nth-child(odd) {
            border-bottom: none;
          }
          &:nth-child(odd) {
            border-right: 1px solid $accent-gray;
          }
        }
        &:hover {
          background-color: $sandstone;
        }
        a {
          text-decoration: none;
          color: black;
        }
        &:last-child {
          border-bottom: 1px solid $darkgray;
          @media (max-width: $medium-breakpoint) {
            border-bottom: 0px;
          }
        }
      }
    }
    button {
      border: 2.5px solid $gold;
      border-radius: 7px;
      padding: 1.4rem 2rem;
      width: 100%;
      @media (max-width: $medium-breakpoint) {
        width: auto;
      }
      background-color: transparent;
      cursor: pointer;
      margin-top: 2.5rem;
      color: $gold;
      &:hover {
        background-color: $off-white;
      }
    }
  }
}

.profile-image {
  background: #eee no-repeat center;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    &.wide {
      height: 100%;
      width: auto;
    }
    &.cropped {
      transform: none;
    }
  }
}

.profile-bio {
  padding-bottom: 6rem;
  .label {
    padding-top: 2rem;
  }
}
.profile-scholarly-creative {
  h2 {
    padding: 2rem 0rem;
    font-size: 2rem;
  }
}

.profile-awards-grants {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  @media (max-width: $medium-breakpoint) {
    display:block;
  }
  .profile-awards, .profile-grants {
    flex-basis: 45%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
      padding-bottom: 2rem;
    }
  }
  .profile-awards {
    @media (max-width: $medium-breakpoint) {
      margin-bottom: 3rem;
    }
  }
}

ul.scholarly-creative, ul.awards, ul.grants, ul.activity-list {
  padding-left: 3rem;
  li {
    padding-bottom: 1rem;
    &:last-child {
      padding-bottom: 0rem;
    }
    ul {
      padding-left: 2.5rem;
      li { padding-bottom: 0rem; }
    }
  }
}

.profile-service {
  h2 {
    padding: 2rem 0rem;
  }
  .services {
    display: flex;
    justify-content: space-between;
    @media (max-width: $medium-breakpoint) {
      display:block;
    }
    .column1, .column2 {
      flex-basis: 45%;
      .service-list {
        .service:last-child {
          padding-bottom: 0;
        }
      }
    }
    .column1 .service-list .service:last-child {
      @media (max-width: $medium-breakpoint) {
        padding-bottom: 2.5rem;
      }
    }
    .service {
      padding-bottom: 2.5rem;
      padding-left: 2rem;
      border-left: 2px solid gray;
      position: relative;

      &::before {
        content: "";
        height: 12px;
        width: 12px;
        background-color: $accent-gray;
        border: 1px solid gray;
        border-radius: 10px;
        position: absolute;
        left: -7px;
      }
      .role {
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 1; //to line up with the circle things
      }
      .period {
        color: $davys-gray;
      }
    }
    .view-all {
      text-align: left;
    }
  }
}

/////////////////////////////////////////////////
.has-background.return-to-profile {
  background-color: $accent-gray;
  a {
    color: black;
    text-decoration: none;
  }
  .return-to-profile-contents {
    display: flex;
    align-items: center;
    padding: 1.5rem 0rem;
    i.fa {
      font-size: 4rem;
      padding-right: 1rem;
    }
    .profile-image {
      width: 45px;
      height: 45px;
    }
    .faculty-info {
      line-height: 1.2;
      padding-left: 1rem;
      .faculty-name {
        font-weight: 700;
      }
    }
  }
}

.more-contents {
  padding-top: 5rem;
  padding-bottom: 5rem;
  .title {
    font-size: 2rem;
  }
  font-size: 1.6rem;
  .activity-year {
    padding: 2rem 0rem;
    color: $charcoal;
    font-weight: 100;
    font-size: 2rem;
  }
  .activity-list {
    padding-left: 4.8rem;
    > li {
      padding-left: 1.2rem;
      .dates {
        display: none;
      }
    }
  }
}

.photo-bank {
  display: flex;
  flex-wrap: wrap;
  .profile {
    width: 170px;
    padding: 10px;
  }
  .profile-image {
    width: 150px;
    height: 150px;
  }
}

@import 'fonts';
@import 'forms';
@import 'results';

/////////////////////////////////////////////////
.page-title {
  padding: 4rem 0rem;
}
.panels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .panel {
    border: 1px solid $accent-gray;
    border-radius: 5px;
    flex-basis: 30%;
    margin-bottom: 5rem;
    @media (max-width: $medium-breakpoint) {
      flex-basis: 100%;
      margin-bottom: 3rem;
    }
    .panel-header {
      font-size: 1.8rem;
      border-bottom: 1px solid $accent-gray;
      background-color: $off-white;
      padding: 1rem;
      a {
        text-decoration: none;
        color: $maroon;
      }
    }
    .panel-body {
      padding: 3rem 1rem;
      ul {
        color: $off-white;
        padding-left: 2rem;
        li {
          font-size: 1.6rem;
          a:hover {
            background-color: $sandstone;
          }
        }
      }
    }
  }
}

/////////////////////////////////////////////////
.error-page {
  position: relative;
  min-height: 45rem;
  .error-title {
    font-size: 4rem;
    font-weight: 700;
    padding-top: 4rem;
  }
  img {
    position: absolute;
    right: 0;
    top: 8rem;
    max-width: 70%;
    @media (max-width: $medium-breakpoint) {
      position: relative;
      width: 100%;
      top: 0;
      max-width: unset;
    }
  }
}
