html {
  height: 100%;
  font-size: 62.5%; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  font-family: 'Univers LT Std';
  font-size: 1.6rem;
  line-height: 1.5; }

*, *:before, *:after {
  box-sizing: border-box; }

.fp-container {
  margin: 0 auto;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  max-width: 1200px; }
  @media (max-width: 1400px) {
    .fp-container {
      max-width: 1000px; } }

header {
  flex: none;
  background-color: #501214;
  color: #ffffff; }
  header .header-content {
    padding-top: 2rem; }
    header .header-content .fp-title {
      font-size: 3.5rem;
      letter-spacing: 1px;
      font-family: 'Adobe Garamond W01",Garamond,"Goudy Old Style","Times New Roman",serif;'; }

.main-content {
  flex: 1; }
  .main-content .has-background {
    background-color: #f6f6f6; }
  .main-content .content-centered {
    text-align: center; }

footer {
  flex: none;
  background-color: #363534;
  color: #ffffff; }
  footer .footer-content {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 800px) {
      footer .footer-content {
        display: block;
        text-align: center;
        padding-left: 0;
        padding-right: 0; } }
    footer .footer-content .footer-left {
      flex-basis: 70%;
      border-right: 1px solid #0f0f0f; }
      @media (max-width: 800px) {
        footer .footer-content .footer-left {
          border-right: 0;
          border-bottom: 1px solid #0f0f0f; } }
      footer .footer-content .footer-left .footer-left-content {
        padding-top: 2rem; }
        footer .footer-content .footer-left .footer-left-content .footer-title {
          font-size: 2.7rem;
          font-family: 'Adobe Garamond W01",Garamond,"Goudy Old Style","Times New Roman",serif;';
          text-decoration: underline; }
        footer .footer-content .footer-left .footer-left-content .contact-email {
          color: #ffffff;
          text-decoration: none; }
          footer .footer-content .footer-left .footer-left-content .contact-email:hover {
            text-decoration: underline;
            color: #ffffff; }
    footer .footer-content .footer-right {
      flex-basis: 30%;
      border-left: 1px solid #4a4a4a; }
      @media (max-width: 800px) {
        footer .footer-content .footer-right {
          border-left: 0;
          border-top: 1px solid #4a4a4a; } }
      footer .footer-content .footer-right .footer-right-content {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center; }
        footer .footer-content .footer-right .footer-right-content .membership {
          max-width: 80%;
          margin-top: 9px; }
          @media (max-width: 800px) {
            footer .footer-content .footer-right .footer-right-content .membership {
              max-width: 50%; } }

.home-top {
  padding: 6rem 0rem; }
  @media (max-width: 800px) {
    .home-top {
      padding: 2rem 0rem; } }
  .home-top .search-title {
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
    padding-bottom: 2.5rem; }
    @media (max-width: 800px) {
      .home-top .search-title {
        padding-bottom: 1.5rem; } }

.info-section {
  padding-top: 8rem;
  padding-bottom: 8rem; }
  .info-section .content {
    display: flex;
    justify-content: center; }
    .info-section .content .description .description-title {
      font-weight: bold; }

.search-again {
  padding: 3rem 0rem; }

.btn-fp {
  color: #ffffff;
  background-color: #005481; }

input[type="text"] {
  padding: 1rem; }

.form-control {
  border: 0;
  box-shadow: 0px 0 10px #a9a9a9;
  border-radius: 3px;
  height: 4rem; }

form.faculty-search #term {
  width: 50%; }

form.faculty-department-search {
  display: flex;
  justify-content: center;
  align-items: center; }
  form.faculty-department-search .term-group {
    flex-basis: 48%;
    text-align: right; }
    form.faculty-department-search .term-group #term {
      width: 60%; }
  form.faculty-department-search .word-in {
    flex-basis: 4%;
    text-align: center; }
  form.faculty-department-search .department-group {
    flex-basis: 48%;
    text-align: left; }
    form.faculty-department-search .department-group .input-group {
      display: flex;
      opacity: 0.99; }
      form.faculty-department-search .department-group .input-group #department {
        width: 50%; }
  form.faculty-department-search .chosen-container {
    background: #ffffff;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    form.faculty-department-search .chosen-container .chosen-single {
      background: #ffffff;
      border: 0;
      box-shadow: none;
      font-size: 1.5rem; }
      form.faculty-department-search .chosen-container .chosen-single span {
        height: 100%;
        text-align: left; }
    form.faculty-department-search .chosen-container .chosen-drop {
      border-top: 1px solid #aaa; }
      form.faculty-department-search .chosen-container .chosen-drop .chosen-search-input {
        border-radius: 3px; }
      form.faculty-department-search .chosen-container .chosen-drop .active-result {
        font-size: 1.5rem;
        line-height: 1.8;
        text-align: left; }
        form.faculty-department-search .chosen-container .chosen-drop .active-result.highlighted {
          background: #005481; }
  form.faculty-department-search .chosen-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
    box-shadow: 0px 0 10px #a9a9a9;
    z-index: -1; }
  @media (max-width: 800px) {
    form.faculty-department-search {
      display: block;
      padding: 0rem 1rem 3rem 1rem; }
      form.faculty-department-search .term-group {
        text-align: center; }
        form.faculty-department-search .term-group #term {
          width: 100%; }
      form.faculty-department-search .word-in {
        padding: 0.5rem;
        display: block; }
      form.faculty-department-search .department-group {
        text-align: center; }
        form.faculty-department-search .department-group .input-group {
          justify-content: center; }
          form.faculty-department-search .department-group .input-group #department {
            width: 100%; }
          form.faculty-department-search .department-group .input-group button {
            padding: 1rem; }
            form.faculty-department-search .department-group .input-group button .button-label {
              display: none; } }

.search-results-title {
  font-size: 2rem; }

.search-tabs {
  list-style: none;
  display: flex;
  align-items: bottom;
  justify-content: space-between;
  margin: 0 0 1rem 0;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  padding: 1rem 0 0 0;
  overflow: hidden;
  font-size: 1.3rem; }
  .search-tabs li {
    text-transform: uppercase;
    cursor: pointer;
    width: 15rem;
    text-align: center;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .search-tabs li[aria-selected="true"] {
      background-color: #e8e3db;
      color: #501214; }

/*# sourceMappingURL=style.css.map */