$maroon:              #501214;
$gold:                #6a5638;
$charcoal:            #363534;
$white:               #ffffff;
$light-background:    #f6f6f6;
$accent-gray:         #d9d9d9;
$cerulean:            #005481;
$sandstone:           #e8e3db;
$darkgray:            #a9a9a9;
$lightgray:           #ced4da;
$light-sandstone:     #f4f1ed;
$steel-blue:          #406d9d;
$ash-gray:            #b6b6b6;
$off-white:           #f1f1f1;
$medium-light-gray:   #767676;

$medium-breakpoint:     800px;
$large-breakpoint:      1000px;
$x-large-breakpoint:    1400px;

$garamond:            'Adobe Garamond W01",Garamond,"Goudy Old Style","Times New Roman",serif;';
$univers:             'Univers W01', Helvetica, Calibri, Arial, sans-serif;

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  font-family: $univers;
  font-size: 1.6rem;
  line-height: 1.5;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a {color: $cerulean;}

h1 {
  font-size: 2.8rem;
  font-weight: 500;
}

h3 {
  font-size: 1.9rem;
}

h1,h2,h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.fp-container {
  margin: 0 auto;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  max-width: 1200px;
  @media (max-width: $x-large-breakpoint) {
    max-width: 1000px;
  }
}

header {
  flex: none;
  background-color: $maroon;
  color: $white;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media (max-width: $medium-breakpoint) {
      display: block;
    }
    .fp-title {
      font-size: 3.5rem;
      letter-spacing: 1px;
      font-family: $garamond;
      order: 1;
      a {
        text-decoration: none;
        color: $white;
      }
    }
    .logo {
      order: 2;
      width: 20%;
      height: auto;
      @media (max-width: $medium-breakpoint) {
        width: 35%;
      }
      img {
        width: 80%;
        padding: 1.5rem 0rem;
      }
    }
  }
}

.main-content {
  flex: 1;
  .has-background {
    background-color: $light-background;
  }
  .content-centered {
    text-align: center;
  }
}

footer {
  flex: none;
  background-color: $gold;
  color: $white;
  .footer-content {
    display: flex;
    justify-content: space-between;
    @media (max-width: $medium-breakpoint) {
      display: block;
      text-align:center;
      padding-left: 0;
      padding-right: 0;
    }
    .footer-left {
      flex-basis: 70%;
      border-right: 1px solid #5f4d32;
      @media (max-width: $medium-breakpoint) {
        border-right: 0;
        border-bottom: 1px solid #5f4d32;
      }
      .footer-left-content {
        padding-top: 2rem;
        .footer-title {
          font-size: 2.7rem;
          font-family: $garamond;
          a {
            color: $white;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .contact-email {
          color: $white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            color: $white;
          }
        }
      }
    }
    .footer-right {
      flex-basis: 30%;
      border-left: 1px solid #79674c;
      @media (max-width: $medium-breakpoint) {
        border-left: 0;
        border-top: 1px solid #79674c;
      }
      .footer-right-content {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer-logo {
          width: 60%;
        }
        .membership {
          max-width: 80%;
          margin-top: 9px;
          @media (max-width: $medium-breakpoint) {
            max-width: 50%;
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////
.home-top {
  padding: 6rem 0rem;
  @media (max-width: $medium-breakpoint) {
    padding: 2rem 0rem;
  }
  .search-title {
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
    padding-bottom: 2.5rem;
    color: $gold;
    @media (max-width: $medium-breakpoint) {
      padding-bottom: 1.5rem;
    }
  }

  .browse-departments {
    color: $medium-light-gray;
    padding-top: 3rem;
    text-align: right;
    @media (max-width: $medium-breakpoint) {
      padding: 0 1rem;
    }
    a {
      text-decoration: none;
      font-weight: 700;
    }
  }
}

.info-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  .content {
    display: flex;
    justify-content: space-between;
    @media (max-width: $medium-breakpoint) {
      display: block;
    }
    .description {
      flex-basis: 48%;
      .description-title {
        font-weight: bold;
      }
    }
    .image {
      flex-basis: 48%;
      img {
        max-width: 100%;
      }
    }
  }
}

.search-again {
  padding: 3rem 0rem;
}

/////////////////////////////////////////////////
.view-all {
  text-align: center;
  padding: 3rem 0rem;
  button {
    color: $charcoal;
    font-weight: 600;
    span {color: $cerulean};
    border: 2.5px solid $ash-gray;
    border-radius: 7px;
    padding: 1.4rem 6.4rem;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      background-color: $off-white;
    }
    .fa-bookmark {
      color: #577c6e;
    }
    .fa-trophy {
      color: #deb407;
    }
    .fa-gift {
      color: #806cb8;
    }
    .fa-briefcase {
      color: #9e6614;
    }
  }
}
.section {
  padding-top: 2rem;
  h2, h3 {
    color: $gold;
  }
}

.profile-top {
  padding-bottom: 3rem;
  padding-top: 3rem;
  .basic-info {
    display: flex;
    @media (max-width: $medium-breakpoint) {
      display: block;
      text-align: center;
      padding: 2rem 0rem 3rem 0rem;
    }
    .profile-image {
      background: #eee no-repeat center;
      background-size: cover;
      width: 200px;
      height: 200px;
      border-radius: 100%;
      @media (max-width: $medium-breakpoint) {
        width: 125px;
        height: 125px;
        margin: 0 auto;
      }
    }
    .basic-details {
      padding-left: 2rem;
      @media (max-width: $medium-breakpoint) {
        padding-left: 0;
      }
      .name {
        font-weight: bold;
        font-size: 2rem;
      }
      .title-department {
        .first-appointment {

        }
        .other-appointment {
          display: none;
        }
        .show-appointments {
          color: $cerulean;
          text-align: center;
          border: 1px solid $ash-gray;
          border-radius: 5px;
          background-color: transparent;
          background-image: none;
          padding: 0.2rem 0.5rem 0rem 0.5rem;
          &:hover {
            background-color: $off-white;
          }
        }
      }
      .phone {
        padding: 2rem 0 0.5rem 0;
      }
      .fa {
        color: $cerulean;
      }
    }
  }
}
.profile-bio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6rem;
  @media (max-width: $medium-breakpoint) {
    flex-direction: column;
    align-items: stretch;
    padding-top: 0;
  }
  .label {
    padding-top: 2rem;
  }
  .bio {
    flex-basis: 70%;
    @media (max-width: $medium-breakpoint) {
      order: 2;
    }
  }
  .navigation-menu {
    background-color: $white;
    @media (max-width: $medium-breakpoint) {
      margin: 0rem -2.4rem;
      padding: 0rem;
      text-align: center;
      order: 1;
    }
    .anchors {
      @media (max-width: $medium-breakpoint) {
        display: flex;
        flex-wrap: wrap;
      }
      .anchor {
        @media (max-width: $medium-breakpoint) {
          flex-basis: 50%;
          border-top: 0px;
          padding: 2rem;
          &.top {
            border-bottom: 1px solid $accent-gray;
            border-top: 1px solid $darkgray;
          }
          &.left {
            border-right: 1px solid $accent-gray;
            border-left: 1px solid $darkgray;
          }
          &.bottom {
            border-bottom: 1px solid $darkgray !important;
          }
          &.right {
            border-right: 1px solid $darkgray;
          }
        }
        padding: 1rem;
        border-top: 1px solid $darkgray;
        text-align:center;
        a {
          text-decoration: none;
          color: black;
        }
        &:last-child {
          border-bottom: 1px solid $darkgray;
          @media (max-width: $medium-breakpoint) {
            border-bottom: 0px;
          }
        }
      }
    }
    button {
      border: 2.5px solid $ash-gray;
      border-radius: 7px;
      //padding: 1.4rem 6rem;
      padding: 1.4rem 2rem;
      background-color: transparent;
      cursor: pointer;
      margin-top: 2.5rem;
      color: $cerulean;
      &:hover {
        background-color: $off-white;
      }
    }
  }
}
.profile-scholarly-creative {
  h2 {
    padding: 2rem 0rem;
    font-size: 2rem;
  }
}

.profile-awards-grants {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  @media (max-width: $medium-breakpoint) {
    display:block;
  }
  .profile-awards, .profile-grants {
    flex-basis: 45%;
    padding: 2rem;
  }
}

ul.scholarly-creative, ul.awards, ul.grants, ul.activity-list {
  padding-left: 3rem;
  li {
    padding-bottom: 1rem;
    &:last-child {
      padding-bottom: 0rem;
    }
    ul {
      padding-left: 2.5rem;
      li { padding-bottom: 0rem; }
    }
  }
}

.profile-service {
  padding-bottom: 8rem;
  h2 {
    padding: 2rem 0rem;
  }
  .services {
    display: flex;
    justify-content: space-between;
    @media (max-width: $medium-breakpoint) {
      display:block;
    }
    .column1, .column2 {
      flex-basis: 45%;
      .service-list {
        .service:last-child {
          padding-bottom: 0;
        }
      }
    }
    .column1 .service-list .service:last-child {
      @media (max-width: $medium-breakpoint) {
        padding-bottom: 2.5rem;
      }
    }
    .service {
      padding-bottom: 2.5rem;
      padding-left: 2rem;
      border-left: 2px solid gray;
      position: relative;

      &::before {
        content: "";
        height: 12px;
        width: 12px;
        background-color: lightgray;
        border: 1px solid gray;
        border-radius: 10px;
        position: absolute;
        left: -7px;
      }
      .role {
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 1; //to line up with the circle things
      }
      .period {
        color: gray;
      }
    }
    .view-all {
      text-align: left;
    }
  }
}

/////////////////////////////////////////////////
.has-background.return-to-profile {
  background-color: $accent-gray;
  a {
    color: black;
    text-decoration: none;
  }
  .return-to-profile-contents {
    display: flex;
    align-items: center;
    padding: 1.5rem 0rem;
    i.fa {
      font-size: 4rem;
      padding-right: 1rem;
    }
    .profile-image {
      background: #eee no-repeat center;
      background-size: cover;
      width: 45px;
      height: 45px;
      border-radius: 100%;
    }
    .faculty-info {
      line-height: 1.2;
      padding-left: 1rem;
      .faculty-name {
        font-weight: 700;
      }
    }
  }
}
.more-contents {
  padding-top: 5rem;
  padding-bottom: 5rem;
  .title {
    font-size: 2rem;
  }
  font-size: 1.6rem;
  .activity-year {
    padding: 2rem 0rem;
    color: $charcoal;
    font-weight: 100;
  }
  .activity-list {
    padding-left: 4rem;
    > li {
      padding-left: 1.2rem;
    }
  }
}

@import 'fonts';
@import 'forms';
@import 'results';

/////////////////////////////////////////////////
.panels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .panel {
    border: 1px solid $accent-gray;
    border-radius: 5px;
    flex-basis: 30%;
    margin-bottom: 5rem;
    @media (max-width: $medium-breakpoint) {
      flex-basis: 100%;
      margin-bottom: 3rem;
    }
    .panel-header {
      font-size: 1.8rem;
      border-bottom: 1px solid $accent-gray;
      background-color: $off-white;
      padding: 1rem;
      a {
        text-decoration: none;
        color: $maroon;
      }
    }
    .panel-body {
      padding: 3rem 1rem;
      ul {
        list-style: none;
        li {
          font-size: 1.4rem;
          &:before {
            content: "\2022";
            color: $off-white;
            padding-right: 5px;
          }
          a:hover {
            background-color: $sandstone;
          }
        }
      }
    }
  }
}
